<div class="form-container">
    <h1>FORGOT YOUR PASSWORD?</h1>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-cellule mt-5">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    class: "form-button-input" %>
      </div>

      <div class="mb-3">
        <%= f.button :submit, "Send me reset password instructions", class: "grey-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
