<div class="footer-container justify-content-around ps-2 pe-2">
  <div class="pt-4">
    <%= link_to "GitHub", "https://github.com/PierreAnders/", class: "external-link logo-github", :target => "_blank" %>
  </div>
  <div class="pt-4">
    <%= link_to "CoinGecko", "https://www.coingecko.com/", class: "external-link logo-github", :target => "_blank" %>
  </div>
  <div class="pt-4">
    <%= link_to "Rarible", "https://rarible.com/", class: "external-link logo-github", :target => "_blank" %>
  </div>
  <div class="pt-4">
    <%= link_to "Metamask", "https://metamask.io/", class: "external-link logo-github", :target => "_blank" %>
  </div>
  <div class="pt-4">
    <%= link_to "Etherscan", "https://etherscan.io/", class: "external-link logo-github", :target => "_blank" %>
  </div>
  <div class="pt-4">
    <%= link_to "Privacy", privacy_path, class: "external-link logo-github" %>
  </div>
</div>
