<div style="background-color: #1D1D1D" class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="logo">
        <%= image_tag "logo.png" %>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "MARKET", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "PORTFOLIO", portfolio_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "WALLETS", wallets_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "LOG OUT", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "LOGIN", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "MARKET", root_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
