<h1 class="m-2">MARKET</h1>

<div class="container-portfolio">
    <div class="card-portfolio-header">
            <div class="card-portfolio-box">
                <div class="color-medium-grey">#</div>
            </div>
            <div class="card-portfolio-box">
                <div class="color-medium-grey">Asset</div>
            </div>
            <div class="card-portfolio-box">
                <div class="color-medium-grey">Price</div>
            </div>
            <div class="card-portfolio-box d-none d-md-block">
                <div class="color-medium-grey">Change(24h)</div>
            </div>
            <div class="card-portfolio-box d-none d-md-block">
                <div class="color-medium-grey">Ath</div>
            </div>
            <div class="card-portfolio-box d-none d-md-block">
                <div class="color-medium-grey">Market Cap</div>
            </div>
        </div>
    <% @coins.each do |coin| %>
        <div class="card-portfolio">
            <div class="card-portfolio-box">
                <div class="color-medium-grey"><%= coin["market_cap_rank"] %> <%= "-" %>
                <%= image_tag coin["image"], class: "logo-crypto" %></div>
            </div>
            <div class="card-portfolio-box">
                <div><%= coin["name"] %></div>
            </div>
            <div class="card-portfolio-box">
                <div><%= coin["current_price"].delimited(delimiter = ' ', separator = ',') %> €</div>
            </div>
            <div class="card-portfolio-box d-none d-md-block">
                <% if coin["price_change_percentage_24h"].to_d >= 0 %>
                <div class="text-success">↗ <%= coin["price_change_percentage_24h"].to_d.round(2).delimited(delimiter = ' ', separator = ',') %>%</div>
                <% else %>
                <div class="text-danger">↘ <%=  (coin["price_change_percentage_24h"] * -1).to_d.round(2).delimited(delimiter = ' ', separator = ',') %>%</div>
                <% end %>
            </div>
            <div class="card-portfolio-box d-none d-md-block">
                <div><%= coin["ath"].delimited(delimiter = ' ', separator = ',') %> €</div>
            </div>
            <div class="card-portfolio-box d-none d-md-block">
                <div><%= (coin["market_cap"] * 0.000000001).round(2).delimited(delimiter = ' ', separator = ',') %> Md €</div>
            </div>
        </div>
    <% end %>
</div>
