<% @portfolio_value = 0 %>
<% @number_of_crypto = 0 %>

<!-- get pourcentage allocation -->
<% @wallets.each do |wallet| %>
    <!-- get number of crypto -->
    <% @number_of_crypto += wallet.cryptos.size %>
    <% wallet.cryptos.each do |crypto| %>
        <% @search_cryptos.each do |search_crypto| %>
            <% if crypto.name == search_crypto["name"] %>
                <% @crypto_current_price = search_crypto["current_price"] %>
            <% end %>
        <% end %>
        <!-- get portfolio value -->
        <% @value = crypto.number * @crypto_current_price %>
        <% @portfolio_value += @value%>
    <% end %>
<% end %>

<h1 class="m-2">ASSETS ALLOCATION (<%= @number_of_crypto %>)</h1>


<!-- print crypto name / current_value / allocation / wallet name / number of cryptos / value -->
<div class="container-portfolio">
    <div class="card-portfolio-header">
        <div class="card-portfolio-box">
            <div class="color-medium-grey"> Asset</div>
        </div>
        <div class="card-portfolio-box d-none d-md-block">
            <div class="color-medium-grey">Price</div>
        </div>
        <div class="card-portfolio-box d-none d-md-block">
            <div class="color-medium-grey">Allocation</div>
        </div>
        <div class="card-portfolio-box d-none d-md-block">
            <div class="color-medium-grey">Wallet</div>
        </div>
        <div class="card-portfolio-box">
            <div class="color-medium-grey">Amount</div>
        </div>
        <div class="card-portfolio-box">
            <div class="color-medium-grey">Value</div>
        </div>
    </div>
    <% @wallets.each do |wallet| %>
            <% wallet.cryptos.each do |crypto| %>
                <div class="card-portfolio">
                    <div class="card-portfolio-box">
                        <div> <!-- get crypto logo / current_price / symbol -->
                            <% @search_cryptos.each do |search_crypto| %>
                                  <% if crypto.name == search_crypto["name"] %>
                                  <% @crypto_current_price = search_crypto["current_price"] %>
                                  <% @crypto_symbol = search_crypto["symbol"] %>
                                  <%= image_tag search_crypto["image"], class: "logo-crypto-small" %>
                                  <% end %>
                            <% end %>
                            <%= crypto.name %>
                        </div>
                    </div>
                    <div class="card-portfolio-box d-none d-md-block">
                        <div> € <%= @crypto_current_price %></div>
                    </div>
                        <% @value = crypto.number * @crypto_current_price %>
                    <div class="card-portfolio-box d-none d-md-block">
                        <div><%= @crypto_poucentage_allocation = ((@value * 100) / @portfolio_value).round(2) %> %</div>
                    </div>
                    <div class="card-portfolio-box d-none d-md-block">
                        <div><%= wallet.name %></div>
                    </div>
                    <div class="card-portfolio-box">
                        <div><%= crypto.number %> <%= @crypto_symbol.upcase %></div>
                    </div>
                    <div class="card-portfolio-box">
                        <div>€ <%= @value = (crypto.number * @crypto_current_price ).round(2) %></div>
                    </div>
                </div>
            <% end %>
    <% end %>
</div>

<!-- print portfolio value -->
<div class="m-2 d-flex justify-content-end">
    <p>Total: € <%= @portfolio_value.round(2)  %></p>
</div>
