<!-- print portfolio value and change 24h -->
<div class="container mb-3">
  <div class="container container-portfolio mb-4">
    <div class="card-cryptos-details">
      <h1 class="m-2">
        € <%= @portfolio_value.round(2).delimited(delimiter = ',') %>
      </h1>
      <h2 class="m-2">
        PORTFOLIO (<%= @number_of_crypto %>)
      </h2>
    </div>
    <div class="m-2 color-medium-grey">
      Total balance
    </div>
    <div class="m-2" >
    <% if @portfolio_value_change_24h > 0 %>
      <div class="text-success">
        +<%= ((@portfolio_value_change_24h * 100) / @portfolio_value).round(2).delimited(delimiter = ',') %>%
        (+<%= @portfolio_value_change_24h.round(2).delimited(delimiter = ',') %> €)
      </div>
    <% elsif @portfolio_value_change_24h < 0 %>
      <div class="text-danger">
        - <%= (((@portfolio_value_change_24h * 100) / @portfolio_value).round(2) * -1).delimited(delimiter = ',') %>%
        (<%=  @portfolio_value_change_24h.round(2).delimited(delimiter = ',') %> €)
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- print crypto name / current value / allocation / wallet name / number of cryptos / value -->
<div class="container mb-3">
  <div class="card-portfolio-separate-header">
    <div class="card-portfolio-separate-header-first">
      <div class="card-portfolio-box">
        <div class="color-medium-grey">
          ACCOUNT
        </div>
      </div>
      <div class="card-portfolio-box d-none d-md-block">
        <div class="color-medium-grey">
          PRICE
        </div>
      </div>
      <div class="card-portfolio-box d-none d-md-block">
        <div class="color-medium-grey">
          ALLOCATION
        </div>
      </div>
      <div class="card-portfolio-box d-none d-md-block">
        <div class="color-medium-grey">
          WALLET
        </div>
      </div>
      <div class="card-portfolio-box">
        <div class="color-medium-grey">
          AMOUNT
        </div>
      </div>
      <div class="card-portfolio-box">
        <div class="color-medium-grey">
          VALUE
        </div>
      </div>
    </div>
  </div>

  <% @portfolio_rows.each do |row| %>
  <div class="card-portfolio-separate">
      <div class="card-portfolio-box-separate">
        <div class="">
          <div class="pb-1">
            <%= image_tag row[:image], class: "logo-crypto-small" %>
          </div>
        <%= row[:account] %>
        </div>
      </div>
      <div class="card-portfolio-box-separate d-none d-md-block">
        € <%= row[:current_price].delimited(delimiter = ',') %>
      </div>
      <div class="card-portfolio-box-separate d-none d-md-block">
        <div>
          <%= row[:allocation].round(2).delimited(delimiter = ',') %> %
        </div>
      </div>
      <div class="card-portfolio-box-separate d-none d-md-block">
        <div>
          <%= row[:wallet_name] %>
        </div>
      </div>
      <div class="card-portfolio-box-separate">
        <div>
          <%= row[:number].delimited(delimiter = ',') %> <%= row[:symbol].upcase %>
        </div>
      </div>
      <div class="card-portfolio-box-separate">
        <div>
          € <%= row[:value].round(2).delimited(delimiter = ',') %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="container mb-4">
  <% @portfolio_rows.each do |row| %>
          <% if row[:number] > 0 %>
          <% value = 3.5 %>
          <% width = row[:allocation].round(0) * 3.5 %>
            <% bar = content_tag :div, '', style: "width: #{width}px; height: 10px; background-color: #746e9e; border-top-left-radius: 4px; border-bottom-left-radius: 4px;" %>
            <% bar2 = content_tag :div, '', style: "width: #{(value * 100) - width}px; height: 10px; background-color: #3c3c3c; border-top-right-radius: 4px; border-bottom-right-radius: 4px;" %>
        <div class="ms-4">
          <div class="d-flex">
            <div>
            <%= row[:account] %>
            </div>
          </div>
            <div class="color-pourcentage">
            <%= row[:allocation].round(2) %>%
            </div>
          <div class="d-flex mb-3">
            <%= bar %>
            <%= bar2 %>
          </div>
        </div>
          <% end %>
  <% end %>
</div>

<!-- link to add a new wallet  -->
<div class="container d-flex mb-5">
  <div class="pt-2">
    <%= link_to "Add Wallet", new_wallet_path(@wallet), class: "dark-grey-button"%>
  </div>
</div>
