<h1>Portfolio</h1>

<br><br>

<% @wallets.each do |wallet| %>
    <% wallet.cryptos.each do |crypto| %>
      <%= crypto.name %>
        <% @search_cryptos.each do |search_crypto| %>
          <% if crypto.name == search_crypto["name"] %>
            <% @crypto_current_price = search_crypto["current_price"] %>
            <% @crypto_symbol = search_crypto["symbol"] %>
          <% end %>
        <% end %>
      <%= @crypto_current_price %>
    <%= wallet.name %>
    <%= crypto.number %>
    <%= @total_value = crypto.number * @crypto_current_price %>
    <%= @total_portfolio_value %>
    <br>
    <% end %>
  <% end %>
