<div class="form-container">
  <h1>EDIT WALLET</h1>
  <%= form_with model: @wallet do |f| %>
  <div class="form-cellule mt-5">
    <%= f.text_field :name, class: "form-button-input" %>
  </div>
  <div class="form-cellule mt-5 mb-4">
    <div class="form-button-input">
      <%= f.select :category, Wallet::SELECT_CATEGORY, include_blank: "select category" %>
    </div>
  </div>
    <%= f.submit class: "grey-button" %>
  <% end %>
  <div class="p-2">
    <%= link_to "Delete wallet", wallet_path(@wallet), class: "small-button", data: {turbo_method: :delete, turbo_confirm: "Are yo sure to delete this wallet?"} %>
  </div>
</div>
