<!-- print wallet value and change 24h -->
<div class="container mb-3">
  <div class="container container-portfolio mb-4">
    <div class="card-cryptos-details">
      <h1 class="m-2">€ <%= @wallet_value.round(2).delimited(delimiter = ',') %></h1>
      <h2 class="m-2"><%= @wallet.name.upcase %> (<%= @wallet.cryptos.size %>)</h2>
    </div>
    <div class="m-2 color-medium-grey">
      Total balance
    </div>
    <div class="m-2" >
      <% if @wallet_value_change_24h > 0 %>
        <div class="text-success">
          + <%= ((@wallet_value_change_24h * 100) / @wallet_value).round(2).delimited(delimiter = ',') %>%
          (+<%= @wallet_value_change_24h.round(2).delimited(delimiter = ',') %> €)
        </div>
      <% elsif @wallet_value_change_24h < 0 %>
        <div class="text-danger">
          - <%= (((@wallet_value_change_24h * 100) / @wallet_value).round(2) * -1).delimited(delimiter = ',') %>%
          (<%=  @wallet_value_change_24h.round(2).delimited(delimiter = ',') %> €)
        </div>
      <% end %>
    </div>
  </div>

  <!-- print wallet portfolio -->
  <div class="container container-portfolio">
    <div class="card-portfolio-header">
      <div class="card-portfolio-box">
        <div class="color-medium-grey">
          Account
        </div>
      </div>
      <div class="card-portfolio-box d-none d-md-block">
        <div class="color-medium-grey">
          Price
        </div>
      </div>
      <div class="card-portfolio-box d-none d-md-block">
        <div class="color-medium-grey">
          Allocation
        </div>
      </div>
      <div class="card-portfolio-box d-none d-md-block">
        <div class="color-medium-grey">
          Address
        </div>
      </div>
      <div class="card-portfolio-box">
        <div class="color-medium-grey">
          Amount
        </div>
      </div>
      <div class="card-portfolio-box">
        <div class="color-medium-grey">
          Value
        </div>
      </div>
    </div>
    <% @wallet_rows.each do |row| %>
      <div class="card-portfolio">
        <div class="card-portfolio-box">
          <div class="">
            <div class="pb-1">
              <%= link_to (image_tag row[:image], class: "logo-crypto-small"), edit_wallet_crypto_path(@wallet, row[:crypto]) %>
            </div>
            <%= link_to "#{row[:account]}", edit_wallet_crypto_path(@wallet, row[:crypto]), class: "crypto-link" %>
          </div>
        </div>
        <div class="card-portfolio-box d-none d-md-block">
          <div>
            € <%= row[:current_price].round(2).delimited(delimiter = ',') %>
          </div>
        </div>
        <% row%>
        <div class="card-portfolio-box d-none d-md-block">
          <div>
            <%= row[:allocation].round(2).delimited(delimiter = ',') %> %
          </div>
        </div>
        <div class="card-portfolio-box d-none d-md-block">
          <div>
            <%= row[:address].first(3) %>...<%= row[:address].last(3) %>
          </div>
        </div>
        <div class="card-portfolio-box">
          <div>
            <%= row[:number].delimited(delimiter = ',') %> <%= row[:symbol].upcase %>
          </div>
        </div>
        <div class="card-portfolio-box">
          <div>
            € <%= row[:value].round(2).delimited(delimiter = ',') %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container d-flex">
    <div class="p-2 mt-3">
      <%= link_to "Edit Wallet", edit_wallet_path(@wallet), class: "dark-grey-button"%>
    </div>
    <div class="p-2 mt-3">
      <%= link_to "Back to wallets", wallets_path(@wallets), class: "small-button" %>
    </div>
  </div>
  <div class="form-container mt-5 mb-5">
    <h2>ADD NEW CRYPTO</h2>
    <%= form_with model: [@wallet, @crypto] do |f| %>
      <div class="form-cellule mt-5">
        <%= f.text_field :account, placeholder: "Account", class: "form-button-input" %>
      </div>
      <div class="form-cellule mt-5">
        <div class="form-button-input">
          <%= f.select :name, Crypto::SELECT_CRYPTO, include_blank: "select crypto" %>
        </div>
      </div>
      <div class="form-cellule mt-5">
        <%= f.text_field :address, placeholder: "Address", class: "form-button-input" %>
      </div>
      <div class="form-cellule mt-5">
        <%= f.number_field :number, placeholder: "    Amount", :step => 0.00000001, class: "form-button-input" %>
      </div>
      <div>
        <%= f.submit "Add crypto", class: "grey-button"%>
      </div>
    </div>
  <% end %>
</div>
