<div class="container">
  <p> <%= @wallet.name %> : <%= @wallet.category %> </p>

  <div class="card">
    <% @wallet.cryptos.each do |crypto| %>
      <% @search_cryptos.each do |search_crypto| %>
        <% if crypto.name == search_crypto["name"] %>
          <% @crypto_current_price = search_crypto["current_price"] %>
          <% @crypto_symbol = search_crypto["symbol"] %>
        <% end %>
      <% end %>
    <%= crypto.name %>
    <%= crypto.address %>
    <%= crypto.number %> <%= @crypto_symbol %>
    <%= @crypto_current_price %>
    <%= @total_value = crypto.number * @crypto_current_price %>
    <br>
    <% end %>
  </div>
  <br>
  <p> <%= link_to "Delete", wallet_path(@wallet), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this wallet?"} %> </p>
  <p> <%= link_to "Edit", edit_wallet_path(@wallet) %> </p>
  <p> <%= link_to "Back to wallet", wallets_path(@wallets) %> </p>
  <p> <%= link_to "Add cryptos", new_wallet_crypto_path(@wallet) %></p>

</div>
