<div class="form-container">
    <h1>SIGN IN</h1>

        <%= form_for(resource, :as => resource_name, url: session_path(resource_name))   do |f| %>
        <%= devise_error_messages! %>
            <div class="form-cellule mt-5">
                <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-button-input" %>
            </div>
            <div class="form-cellule mt-5">
                <%= f.password_field :password, placeholder: "Password", class: "form-button-input"%>
            </div>
            <div class="mb-3">
                <%= f.submit "Sign in", class: "grey-button"%>
            </div>
        <% end %>

    <%= render "devise/shared/links" %>
</div>
