<% @wallets = Wallet.where(user: current_user)
    @address_option = []
    @wallets.each do |wallet|
      wallet.cryptos.each do |crypto|
        if crypto.name == "Ethereum"
          @address_option.push(crypto.address)
        end
      end
    end
    @api_key = ENV.fetch('API_KEY')
%>

<div class="container mb-3">
  <div class="form-container">
  <h1 class="mb-5">TRANSACTIONS</h1>
    <div class="container-portfolio mb-5">
      <div class="d-flex justify-content-center">
          <%= form_with url: transfers_path, method: :get do |form| %>
        <div class="m-2">
          <%= form.select :query, @address_option, include_blank: "select address", class: "form-button-input" %>
        </div>
        <div class="d-flex justify-content-end m-2">
          <%= form.submit "Search", class: "grey-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- If an address is selected then display transactions -->
  <div class="form-container">
  <% if params[:query].present?
      require 'httparty'
      require 'dotenv/load'
      response = HTTParty.get("https://api.etherscan.io/api?module=account&action=txlist&address=#{params[:query]}&startblock=0&endblock=99999999&sort=asc&apikey=#{@api_key}")
      transactions = response.parsed_response['result']
      transactions.reverse_each do |transaction| %>
      <div class="container-portfolio mb-5">
        <p class="color-medium-grey">From: </p><p><%= transaction['from'] %></p>
        <p class="color-medium-grey">To: </p><p><%= transaction['to'] %></p>
        <p class="color-medium-grey">Amount: </p><p> <%= (transaction['value'].to_f / 10**18).round(18) %> ETH</p>
        <p class="color-medium-grey">Date: </p><p> <%= Time.at(transaction['timeStamp'].to_i).strftime("%d/%m/%Y %H:%M:%S") %></p>
      </div>
      <% end %>
    <% end %>
</div>
