<!-- Form to choose one of the user's ethereum addresses-->
<div class="container mb-3">
  <div class="form-container">
  <h1 class="mb-5">TRANSACTIONS</h1>
    <div class="container-portfolio mb-5">
      <div class="d-flex justify-content-center">
          <%= form_with url: transfers_path, method: :get do |form| %>
        <div class="m-2">
          <%= form.select :query, @address_option, include_blank: "select address", class: "form-button-input" %>
        </div>
        <div class="d-flex justify-content-end m-2">
          <%= form.submit "Search", class: "grey-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- If an address is selected then display the associate transactions -->
  <div class="form-container">
  <% if params[:query].present? %>
  <div class="container-portfolio mb-5">
    <h3 class="mb-3">ETHEREUM ADDRESS :</h3>
    <%= params[:query] %>
  </div>
    <% @transactions.reverse_each do |transaction| %>
    <div class="container-portfolio mb-5">
      <p class="color-medium-grey">Date: </p><p> <%= Time.at(transaction['timeStamp'].to_i).strftime("%d/%m/%Y %H:%M:%S") %></p>
      <p class="color-medium-grey">From: </p><p><%= transaction['from'] %></p>
      <p class="color-medium-grey">To: </p><p><%= transaction['to'] %></p>
      <p class="color-medium-grey">Amount: </p><p> <%= (transaction['value'].to_f / 10**18).round(18) %> ETH</p>
    </div>
    <% end %>
  <% end %>
</div>
