<div class="container container-portfolio">
  <% @wallets.each do |wallet| %>
    <% wallet.cryptos.each do |crypto| %>
      <% if crypto.name == "Ethereum" %>
      <h2><%= crypto.name %> Address</h2>
      <h2><%= crypto.address %></h2>
        <% require 'httparty' %>
        <% response = HTTParty.get("https://api.etherscan.io/api?module=account&action=txlist&address=#{crypto.address}&startblock=0&endblock=99999999&sort=asc&apikey=BBEVJRYJKR3QDT95XU2QM686YEGXM7XNN3") %>
        <% transactions = response.parsed_response['result'] %>
        <% transactions.reverse_each do |transaction| %>
          <p>From: <%= transaction['from'] %></p>
          <p>To: <%= transaction['to'] %></p>
          <p>Value: <%= transaction['value'] %> Wei</p>
          <hr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
