<h1>Cryptos</h1>

<%= form_with model: [@wallet, @crypto] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :number %>
  <%= f.number_field :number, :step => 0.00000001 %>
  <%= f.submit %>

<% end %>
