<div class="form-container-small">
  <h1>NEW CRYPTO</h1>
  <%= form_with model: [@wallet, @crypto] do |f| %>
  <div class="form-cellule mt-5">
    <div>
      <%= f.select :name, cryptos: Crypto::SELECT_CRYPTO, class: "form-button-input" %>
    </div>
  </div>
  <div class="form-cellule mt-5">
    <%= f.text_field :address, placeholder: "Address", class: "form-button-input" %>
  </div>
  <div class="form-cellule mt-5">
    <%= f.number_field :number, placeholder: "Amount", class: "form-button-input", :step => 0.00000001 %>
  </div>
  <div>
    <%= f.submit "Add crypto", class: "grey-button"%>
  </div>
  <% end %>
</div>
